---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* ===== Custom icon size ===== */

.custom-icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}
